{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": ["react"],
    "globals": {
        "__dirname": false,
        "module": false,
        "graphql": false
    }
}