.hero {
    min-height: calc(100vh - 97px);
    background-color: #60BDC1;
    padding-top: 90px;
}
.hero__h1 {
    color: #fff;
    font-size: 42px;
    line-height: 1.4;
    margin: 0 0 25px 0;
}
.hero__h2 {
    color: #fff;
    font-size: 22px;
    line-height: 1.4;
    margin: 0;
    font-weight: 400;
    max-width: 720px;
}
@media screen and (max-width: 700px) {
    .hero {
        padding-top: 45px;
        min-height: calc(100vh - 74px);
    }
    .hero__h1 {
        font-size: 28px;
    }
    .hero__h2 {
        font-size: 16px;
    }
}
