.c-hero {
    min-height: calc(100vh - 97px);
    background-color: #60BDC1;
    padding-top: 90px;
}
.c-hero__h1 {
    color: #fff;
    font-size: 42px;
    line-height: 1.5;
    margin: 0 0 25px 0;
}
.c-hero__h2 {
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
    max-width: 720px;
}