.cta {
    display: inline-block;
    padding: 18px 58px;
    background-color: #fff;
    border: 1px solid #FC6681;
    border-radius: 5px;
    font-size: 23px;
    text-decoration: none;
    font-weight: 600;
    color: #FC6681;
    transition: all 0.3s ease;

}
@media screen and (max-width: 700px) {
    .cta {
        padding: 13px 38px;
        font-size: 18px;
    }
    .cta > svg {
        width: 26px;
        height: 18px;
    }
}
.cta:hover {
    background-color: #FC6681;
    color: #fff;
}
.cta:hover > svg path{
    stroke: #fff;
}
.cta > svg {
    width: 30px;
    height: 22px;
    display: inline-block;
    margin-left: 10px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 600px) {
    .cta {
        text-align: center;
        width: 100%;
        padding: 13px 18px;
        font-size: 16px;
    }
    .cta > svg {
        width: 22px;
        height: 14px;
    }
}