.navigation {
    border-bottom: 1px solid #E6E6E6;
    text-align: right;
    background-color: #fff;
}
.navigation__logo {
    position: relative;
    position: absolute;
    top: -150px;
    left: 0;
    max-width: 240px;
}
.navigation__lng {
    padding: 35px;
    border-left: 1px solid #E6E6E6;
    text-transform: uppercase;
    color: #9B9B9B;
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navigation__lng:hover {
    color: #FF3F5D;
}
@media screen and (max-width: 700px) {
    .navigation__lng {
        padding: 25px;
    }
    .navigation__logo {
        top: -70px;
        left: 20px;
        max-width: 140px;
    }
}